body {
	margin: 0;
	color: #fff;
	overscroll-behavior: none;
	font-family: 'Roboto Mono', monospace;
}

*:focus {
outline: none;
}

a {
	color: #ffffff;
	text-decoration: none;
	contain:strict;
	pointer-events: auto;
}

canvas {
	display: block;
}	

#title{
position:absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
font-size: min(1.5em,5vw);
z-index: 5;
background-color:rgba(0,0,0,0.5);
/* text-align: center; */
}